@font-face {
    font-family: 'Montserrat';
    src: url('font/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Dela Gothic One';
    src: url('font/Dela_Gothic_One/DelaGothicOne-Regular.ttf');
}

body {
    background-color: #110f1b;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: white;
    -webkit-font-smoothing: antialiased;
}


.welcome-to {
    display:block;
    font-family: 'Dela Gothic One', cursive;
    font-size: 45px;
}

.main-heading {
    display: inline-block;
    font-family: 'Dela Gothic One', cursive;
    font-size: 80px;
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
background-size: 1800% 1800%;

-webkit-animation: rainbow 18s ease infinite;
-z-animation: rainbow 18s ease infinite;
-o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;
}

h2 {
    font-size: 30px;

}

hr {
    border: 1px solid white;
    width: 300px;
}

.container {
    margin-left: 100px;
    margin-right: 100px;
    width: 1200px;
    margin: 0 auto;
    display: block;
}

.cd-badge {
    vertical-align: top;
    position: absolute;
    font-size: 1.2rem;
    font-weight: 400;
    display: inline-block;
    background-color: #10ace8;
    border-radius: 200rem;
    padding: .3rem .8rem;
}
.section-header {
    display: block;
    margin: 0 auto;
    margin-top: 100px;
    font-weight: 400;
    width: 800px;
    text-align: center;
}

.section-features {
    margin-top: 100px;
}

@media (max-width: 823px) {
    .container {
        margin-left: 30px;
        margin-right: 30px;
        width: 400px;
        margin: 0 auto;
        display: block;
    }
    .section-header {
        width: 600px;
    }
    .main-heading {
        font-size: 50px;
    }
}
@media (max-width: 600px) {
    .section-header {
        width: 400px;
    }
}


.section-header::after {
    background-image: linear-gradient(180deg,rgba(11,12,17,0),#110f1b),url("./img/endtroducing.jpeg");
    content: "";
    background-size: cover;
    height: 50vh;
    opacity: .3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.section-links {
    text-align: center;
}

a { color: white; }
a:hover { color: pink; }

.download-link {
    transition: background-color .2s;
    font-size: 25px;
    font-weight: 700;
    display: inline-block;
    color: #222;
    background-color: white;
    text-decoration: none;
    padding: 16px 20px 16px 20px;
}

.download-link-mac {
    border-radius: 0px 20px 20px 0px;
    margin-left: 5px;
}

.download-link-win {
    border-radius: 20px 0px 0px 20px;
    margin-right: 5px;
}

.download-link:hover {
    color: white;
    transition: transform .2s ease-in-out;
    transform: scale(1.05);
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;

    -webkit-animation: rainbow 18s ease infinite;
    -z-animation: rainbow 18s ease infinite;
    -o-animation: rainbow 18s ease infinite;
      animation: rainbow 18s ease infinite;
}



@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}


.caption h2 {
    font-family: 'Dela Gothic One', cursive;
}


.row {
    display: flex;
}

.row .col {
    box-sizing: border-box;
    padding: 0;
    flex-grow: 1;
    height: 100%;
    padding: 10px 6rem;
}

.caption, .section-image {
    display: inline-block;
}

.caption {
    vertical-align: top;
}

.row-alt > * {

}

.section-features .features-heading {
    text-align: center;
    font-family: 'Dela Gothic One', cursive;
    font-size: 50px;
}

@media (max-width: 600px) {
    .row .col {
        padding: 10px;
    }
}
