@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700,900");
html {
  font-size: 16px;
}

h1 {
  font-size: 2rem;
  font-weight: 900;
  color: #605060;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #605060;
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #605060;
  width: fit-content;
}

h4 {
  font-size: 1rem;
  font-weight: 400;
  color: #605060;
}

h5 {
  font-size: 0.75rem;
  font-weight: 400;
  color: #605060;
}

a {
  color: #4ba4fc;
}

a:hover {
  color: #87c3ff;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

button {
  background: linear-gradient(90deg, #e66465, #e84174);
  height: 50px;
  width: 300px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}
button h4 {
  font-weight: 600;
  color: white;
  margin: 0;
}
button.cancel {
  background: #e2e2e2;
}
button.cancel h4 {
  color: #605060;
}

button:hover {
  opacity: 0.8;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

button:focus {
  outline: none;
}

body {
  background-color: white;
  font-family: "Montserrat";
}

.deep-blue {
  background-color: #443fff;
}

.blue {
  background-color: #3963e8;
}

.light-blue {
  background-color: #4ba4fc;
}

.lighter-blue {
  background-color: #87c3ff;
}

.lipstick {
  background-color: #e84174;
}

.black {
  background-color: black;
}

.charcoal {
  background-color: #605060;
}

.light-grey {
  background-color: #e2e2e2;
}

input {
  border: 0;
  border-bottom: 2px solid black;
  border-radius: 0px;
  height: 40px;
  width: 300px;
  white-space: pre-wrap;
  margin-bottom: 20px;
  outline: none;
  outline-width: 0;
  padding: 2px;
  font-size: 1rem;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
input:hover, input:focus {
  border-bottom: 2px solid #E64C66;
  border-radius: 0px;
}

.hw-health {
  display: inline-block;
  width: 300px;
  text-align: center;
  position: relative;
}
.hw-health .item {
  box-shadow: 3px 3px 4px 0px #e2e2e2;
  background-color: #443fff;
  border-radius: 1.25rem;
  display: inline-block;
  text-align: center;
  width: 100px;
  margin: 0px 5px 0px 5px;
}
.hw-health .item h2, .hw-health .item h5 {
  color: white;
}
.hw-health .item h5 {
  font-weight: 700;
  margin-bottom: 0px;
}
.hw-health .item h2 {
  margin-top: 0px;
}
.hw-health .item h2.healthy {
  color: #10ed86;
}
.hw-health .item h2.damaged {
  color: #ffca43;
}
.hw-health h4 {
  margin: 20px 0px 20px 0px;
  font-weight: 600;
  text-align: center;
}
.hw-health .all-good {
  color: #605060;
}

.location-select {
  display: inline-block;
  width: 300px;
  height: 90px;
  background-color: #443fff;
  box-shadow: 3px 3px 4px 0px #e2e2e2;
  border-radius: 1.25rem;
}
.location-select .left {
  margin: 20px 0px 0px 16px;
  display: inline-block;
}
.location-select .right {
  height: 50px;
  width: 4px;
  border-radius: 2px;
  margin-right: 20px;
  margin-top: 20px;
  background-color: white;
  display: inline-block;
  float: right;
}
.location-select h4, .location-select h5 {
  color: white;
  margin: 0;
}
.location-select h4.status, .location-select h5.status {
  color: #10ed86;
  font-weight: 600;
}
.location-select h4 {
  font-weight: 600;
}

.container {
  width: 1000px;
  display: block;
  margin: 0 auto;
}

.page-header {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  color: black;
}
.page-header .style-guide {
  color: #ffca43;
}

.blurb {
  width: 700px;
}

.palette .box {
  height: 100px;
  width: 100px;
  display: inline-block;
  margin-right: 1.25rem;
  margin-bottom: 3.75rem;
}
.palette .box label {
  font-weight: 400;
  color: #605060;
  margin-top: 100px;
  display: inline-block;
}

.type-display {
  margin-bottom: 2.5rem;
}
.type-display .left {
  display: inline-block;
  margin-right: 2.5rem;
  vertical-align: top;
}
.type-display .left h3, .type-display .left h4 {
  margin: 0;
  font-weight: 600;
}
.type-display .right {
  display: inline-block;
  vertical-align: top;
}
.type-display .right h3 {
  margin: 0;
  color: #605060;
}

.styles-display {
  margin-left: 3.75rem;
}
.styles-display h1, .styles-display h2, .styles-display h3, .styles-display h4, .styles-display h5 {
  color: black;
}
.styles-display p {
  color: #605060;
  text-align: right;
}

.ui-elements > * {
  margin-right: 1.25rem;
}

/*# sourceMappingURL=styleguide.css.map */
